body {
    background-color: #ffe6e6;
    margin: 0;
    height: 100%;
    overflow-x: hidden; /* 横スクロールを無効にする */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh; /* 見た目上画面全体にフィット */
}

header h1 {
    font-size: 10vw;
    margin: 0;
}

.fadein {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 1s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

main{
    text-align: center;
}
/* 紙吹雪のスタイル */
#snow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* 高さを100%に設定 */
    pointer-events: none; /* ユーザーのインタラクションを防ぐ */
    z-index: 100; /* 紙吹雪が他の要素より前に表示される */
}

.snowflake {
    position: absolute;
    top: -10px;
    width: 20px;
    height: 10px;
    opacity: 0.8;
    pointer-events: none;
    animation: fall 5s linear infinite, drift 3s linear infinite;
    /* 形とアニメーションをカスタマイズ */
}

@keyframes fall {
    0% {
        top: -10px; /* 上部からスタート */
    }
    100% {
        top: 100vh; /* 画面下部に落ちる */
    }
}

@keyframes drift {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px); /* 右に揺れる */
    }
    100% {
        transform: translateX(-50px); /* 左に揺れる */
    }
}
